version: '3'
volumes:
  db-data:


services:
  web:
    build: .
    volumes:
      - .:/rails-docker
    command: >
      bash -c "bundle exec rails db:create && 
               bundle exec rails db:migrate &&
               bundle exec rails s -p 3000 -b '0.0.0.0'" 
    environment:
      - DATABASE_PASSWORD=postgres
    ports:
      - 3000:3000
    depends_on:
      - db
  db:
    image: postgres:12
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
        - 'POSTGRES_USER=postgres'
        - 'POSTGRES_PASSWORD=postgres'

